body{
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main {
    background-image: url('../images/background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 25px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50rem;
    margin-top: 20px;
}

.createUser {
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
}

#table {
    border: 2px solid black;
    padding: 8px;
    border-collapse: collapse;
   
}
thead{
    overflow-y: scroll;
}


#table tr:hover {
    background-color: rgb(250, 191, 169, 0.3);
}

#table th:nth-child(even) {
    background-color: #4fb9e7;
}

#table th:nth-child(odd) {
    color: black;
    background-color: #a9d9f8;
}

#table tr:nth-child(even) {
    color: #ffffff;
    background-color: #1a1a1a;
}

#table tr:nth-child(odd) {
    color: #ffffff;
    background-color: #404040;
}

td,
th {
    text-align: center;
    padding: 18px;
}

tr th:first-child,
tr td:first-child, #uid {
    display: none;
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: #4fb9e7ba;
}

.button3 {
    float: right;
}
.success{
    border: .2px solid;
    border-color: green;
}
.error{
    border: .2px solid;
    border-color: red;
}
.clear{
    border: none;
    border-color: none;
}


