.main {
    background-image: linear-gradient(180deg, rgb(247, 215, 134), rgb(250, 191, 169, 0.6), rgb(250, 165, 185, 0.5));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createUser {
    width: 32%;
    margin: 10px;
}

h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
}

#table {
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
}

#table tr:hover {
    background-color: rgb(250, 191, 169, 0.3);
}

th {
    background-image: linear-gradient(180deg, rgb(247, 215, 134), rgb(250, 191, 169, 0.6), rgb(250, 165, 185, 0.2));
}

td,th {
    padding: 18px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(250 165 185 / 50%);
}

.button3 {
    float: right;
}
